.formContainer {
    background: gray;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


}


.questions input[type=text] {
    /* background: blue; */
    height: 25vh;
    width: 50%;
}