.formContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.questions input[type=text] {
    height: 25vh;
    width: 80vw;
    font-size: 3.5rem;
    text-align: center;
}

.questions input[type=radio] {
    appearance: none;
}

.questions label {
    border: 1px solid black;
}

button {
    background: none;
    border: none;
}