
.home-container {
    background-image: url('../../../images/home.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
}

.auth-subcontainer {
    background: #f9fafb;
    padding-top: 15px;
    border-radius: 4px;
        box-shadow: 0 -1px 4px 0 rgba(25, 32, 36, 0.04),
    0 3px 6px 0 rgba(25, 32, 36, 0.16);
    /* opacity: .6 */
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}


input {
    width: 400px;
    height: 40px;
    margin: 10px auto;
    border: none;
    border-radius: 4px;
    box-shadow: 0 -1px 4px 0 rgba(25, 32, 36, 0.04),
    0 3px 6px 0 rgba(25, 32, 36, 0.16);
    font-size: 1.2rem;
    color: #c94e50;
    padding-left: 25px;
}

input:focus {
    outline: none;
  }

  p {
    font-size: 1em;
  }

  span{
    font-weight: bold;
  }

.submit {
    margin-left: 335px;
    margin-top: 10px;
}

p {
    color: #373a47;
}